@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@plugin './hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

body {
  background-color: #cfb697;
  height: 100svh;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #151d14;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@theme {
  --color-main-green: #6aa96b;
  --color-for-buttons: #f6f2ee;
  --color-div: #f6f2ee;
  /* --color-main-green: #243f31; */
  --color-light-green: #a5b2ab;
  --color-beige: #cfb697;
  --color-light-beige: #fff7ee;
  --color-near-black: #151d14;
  --color-ai-green: #6aa96b;
}

@utility flex-col-gap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: calc(100svw - 48px);
  overflow-y: auto;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 576px;
  width: calc(100svw - 24px);
  padding: 12px;
  padding-bottom: 84px;
  justify-content: center;
  height: calc(100svh - 24px);
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  background-color: #fffdf9;
  border-radius: 12px;
}

@utility infoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@utility cardDiv {
  background-color: #f6f2ee;
  border-radius: 12px;
  padding: 12px;
  margin-top: 8px;
}

@utility roundButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f2ee;
  border-radius: 100%;
}

.embla {
  max-width: 100%;
  margin: 0 auto;
  --slide-height: 380px; /* подгони под свою кофейню */
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
  border-radius: 12px;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
